- content_for(:title) {'ご利用方法'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            = render 'shop/sidebar'
        .column.is-8.main-content
            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet.text-center
                    %h2.text-ex-large SmartMenuご利用方法
                    .has-small-margin
                        %p SmartMenuをご利用いただき、ありがとうございます。
                        %p ご利用方法・各種機能のご案内をいたします。
                    .box.has-middle-margin
                        %h3.text-large.has-under-line-pink 〜メニューの作成方法〜
                        .has-large-margin
                            .menu-image.is-inline-block{style:"width:30%;"}
                                =image_tag 'screenshot2.png'
                            .menu-image.is-inline-block{style:"width:30%;"}
                                =image_tag 'screenshot1.png'
                        %ul.has-large-margin
                            %li.box.has-small-margin.has-background-light
                                .step
                                    .has-under-line-blue.is-inline-block Step1
                                .has-small-margin
                                    左側(モバイルの方は右上）のメニューより
                                    =link_to "「カテゴリ」",shop_categories_path
                                    を作成してください。カテゴリ名はアイテムグループの作成に使用します。
                            %li ↓
                            %li.box.has-small-margin.has-background-light
                                .step
                                    .has-under-line-blue.is-inline-block Step2
                                .has-small-margin
                                    = link_to "「メニュー管理」",shop_menus_path
                                    より、メニューを作成します。メニュー名はメニューの見出しになります。テーマカラーはメニューをお好みの色で表示する機能です。
                            %li ↓
                            %li.box.has-small-margin.has-background-light
                                .step
                                    .has-under-line-blue.is-inline-block Step3
                                .has-small-margin
                                    作成したメニューの詳細ページより「アイテムグループ」を作成します。(作成されるメニューでは、アイテムグループをタップするとグループ内のアイテムが表示される仕様になっています。)
                            %li ↓
                            %li.box.has-small-margin.has-background-light
                                .step
                                    .has-under-line-blue.is-inline-block Step4
                                .has-small-margin
                                    作成したアイテムグループ内に「アイテム」を追加していきます。画像を登録するとおしゃれなメニューに仕上がります。
                            %li ↓
                            %li.box.has-small-margin.has-background-light
                                .step
                                    .has-under-line-blue.is-inline-block.strong アイテムの登録が終われば完成です！
                                .has-small-margin.strong
                                    「メニュー管理」→「メニュー詳細」より作成したメニューをご確認いただけます。
                                    .text-small.has-middle-margin
                                        QRコードボタンを押すと、PDF形式でQRコードが出力されます。お店に設置してご利用ください。                 
                    .box.has-middle-margin
                        %h3.text-large.has-under-line-pink 〜その他機能の説明〜
                        %ul.has-large-margin
                            %li.box.has-small-margin.has-background-light
                                .step
                                    %div
                                        .has-under-line-blue.is-inline-block.strong エモーション機能
                                    .menu-image.has-middle-margin.is-inline-block{style:"width:30%;"}
                                        = image_tag 'emotions.png'
                                .has-middle-margin
                                    %p エモーション機能は、お店の利用者がお店に対してフィードバックを送信することができる機能です。
                                    %p メニュー下部に表示されているエモーションボックスの中の３つの表情アイコンの中から、１つを選びタップ（クリック）することでカウントされます。
                                    %p.text-small.has-middle-margin お好きなタイミングで数値をリセットすることが可能です。
                            %li.box.has-small-margin.has-background-light
                                .step
                                    %div
                                        .has-under-line-blue.is-inline-block.strong リクエスト機能
                                    .has-middle-margin
                                        .menu-image.is-inline-block{style:"width:30%;"}
                                            = image_tag 'request1.png'
                                        .menu-image.is-inline-block{style:"width:30%;"}
                                            = image_tag 'request2.png'
                                .has-middle-margin
                                    %p リクエスト機能は、メニューに設置された「ご意見・ご要望」ページより、利用者がお店にメッセージを送信することができる機能です。
                                    %p お店側はサイト上で簡単にリクエストの閲覧・削除を行えて、利用者のリアルな声を手軽に知ることができます。
                            