- content_for(:title) {'パスワード変更'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            = render 'shop/sidebar'
        .column.is-8.main-content
            .links-nav.text-ex-small
                = link_to "ご登録情報",shop_mypages_path
                >パスワード変更
            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    .text-center
                        %h2.text-large.has-under-line-pink
                            パスワード変更
                    .box.has-middle-margin
                        = form_with model: current_shop,url: update_password_shop_mypages_path,local: true do |f|
                            = render 'layouts/error-message', model: f.object
                            .field
                                = f.label :current_password,'現在のパスワード',class:'label'
                                .control
                                    = f.password_field :current_password,class:'input'
                            .field
                                = f.label :password,'変更後のパスワード',class:'label'
                                .control
                                    = f.password_field :password,class:'input'
                            .field
                                = f.label :password_confirmation,'変更後のパスワード（確認）',class:'label'
                                .control
                                    = f.password_field :password_confirmation,class:'input'
                            .field
                                .control.text-center
                                    .is-inline
                                        = f.submit '変更',class:'button is-rounded is-danger'
                                    = link_to "戻る",shop_mypages_path,class:"button is-rounded"