-content_for(:title) {'登録情報'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content

            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    .text-center
                        %h2.text-large.has-under-line-pink
                            ご登録情報
                        %p.text-small お店の情報・Eメールアドレス・パスワードの変更が行えます。
                    .box.has-middle-margin
                        .columns.is-mobile
                            .column.is-4.strong
                                お店の名前
                            .column.is-8
                                = current_shop.shop_name
                        .columns.is-mobile
                            .column.is-4.strong
                                郵便番号
                            .column.is-8
                                〒
                                = postal_code(current_shop.postal_code)
                        .columns.is-mobile
                            .column.is-4.strong
                                住所
                            .column.is-8
                                = current_shop.state
                                = current_shop.city
                                = current_shop.street
                        .columns.is-mobile
                            .column.is-4.strong
                                電話番号
                            .column.is-8
                                = current_shop.phone_number
                        .columns.is-mobile
                            .column.is-4.strong
                                Eメール
                            .column.is-8
                                = current_shop.email
                        %p.text-center
                            = link_to edit_shop_mypages_path,class:'button' do
                                編集
                            = link_to password_shop_mypages_path,class:'button' do
                                %i.fas.fa-key
                                パスワード変更
                    %p.text-right
                        = link_to cancel_shop_mypages_path do
                            退会する
                                    