-content_for(:title) {'マイページTOP'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content

            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet

                    .box.text-center
                        %h2.text-large.has-under-line-pink
                            こんにちは！
                            = current_shop.shop_name
                            さん
                        %p.has-middle-margin
                            SmartMenuをご利用いただきありがとうございます。
                        %p
                            メニューの作成方法・各種機能のご案内は
                            =link_to "[こちら]",howto_shop_mypages_path
                            よりご覧いただけます。




                    -# 新着リクエスト
                    = link_to shop_requests_path do
                        .box.touch.has-middle-margin
                            .text-center
                                %h3.text-large.text-center.has-under-line.is-inline-block
                                    最新リクエスト
                            .has-large-margin
                                - if @requests.any?
                                    %table.table
                                        %thead
                                            %tr
                                                %td.text-small
                                                    件名
                                                %td.text-small
                                                    日時
                                        %tbody
                                            - @requests.each do |request|
                                                %tr
                                                    %td
                                                        = request.title
                                                    %td
                                                        .text-small
                                                            = simple_date(request.created_at)
                                -else
                                    %p.text-center
                                        リクエストはありません。

                    -# 新着エモーション
                    =link_to shop_emotions_path do
                        .box.touch.has-middle-margin
                            .text-center
                                %h3.text-large.has-under-line.is-inline-block
                                    エモーション
                            .has-large-margin
                                = render 'shop/mypages/emotions',emotions: @emotions
                                -if @emotions[:happy] == 0 && @emotions[:dizzy] == 0 && @emotions[:grin] == 0
                                    %p.text-center
                                        エモーションはまだついていません。
                                -else
                                    .chart
                                        = pie_chart @emotions