-content_for(:title) {'マイページTOP'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content

            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet

                    .text-center
                        %h2.text-large.has-under-line-pink
                            こんにちは！
                            = current_shop.shop_name
                            さん
                        %p.has-middle-margin.strong.text-small
                            SmartMenuをご利用いただきありがとうございます。
                        %p.strong.text-small
                            メニューの作成方法・各種機能のご案内は
                            =link_to "[こちら]",howto_shop_mypages_path
                            よりご覧いただけます。




                    -# 新着リクエスト
                    -if  @requests.any?
                        = link_to shop_requests_path do
                            .box.touch.has-middle-margin
                                .text-center
                                    %h3.text-large.text-center.has-under-line.is-inline-block
                                        最新リクエスト
                                    %p.text-small リクエストを最新5件まで表示します。
                                .has-large-margin
                                    %table.table
                                        %thead
                                            %tr
                                                %td.text-small
                                                    件名
                                                %td.text-small
                                                    日時
                                        %tbody
                                            - @requests.each do |request|
                                                %tr
                                                    %td
                                                        = request.title
                                                    %td
                                                        .text-small
                                                            = simple_date(request.created_at)

                    -# 新着エモーション

                    -unless @emotions[:happy] == 0 && @emotions[:dizzy] == 0 && @emotions[:grin] == 0
                        =link_to shop_emotions_path do
                            .box.touch.has-middle-margin
                                .text-center
                                    %h3.text-large.has-under-line.is-inline-block
                                        エモーション
                                    %p.text-small お店の利用者がボタンを押した回数です。
                                .has-large-margin
                                    = render 'shop/mypages/emotions',emotions: @emotions
                                    .chart
                                        = pie_chart @emotions