.columns.is-fullwidth
    .column.is-3-tablet.is-3-desktop.has-background-primary.is-hidden-mobile
        = render 'admin/sidebar'
    .column.is-9.has-background-white-ter
        .container
            = render 'admin/admin-links'
            .box
                %h1.text-large.has-under-line Shop詳細
                %table.table.has-middle-margin.is-bordered
                    %tbody
                        =form_with model: @shop,url: admin_shop_path, local: true do |f|
                            %tr
                                %td
                                    ショップ名
                                %td
                                    = f.text_field :shop_name,class:"input"
                            %tr
                                %td
                                    住所
                                %td
                                    %p
                                        郵便番号
                                    = f.text_field :postal_code,class:"input"
                                    %p 都道府県
                                    .select
                                        = f.select :state,Shop.states.keys.to_a,{prompt:'選択してください'}
                                    %P 市区町村
                                    = f.text_field :city,class:"input"
                                    %p 町名・番地・建物
                                    = f.text_field :street,class:"input"
                            %tr
                                %td
                                    電話番号
                                %td
                                    =f.text_field :postal_code,class:"input"
                            %tr
                                %td
                                    email
                                %td
                                    = f.text_field :email,class:"input"
                            %tr
                                %td{colspan:"2"}
                                    = render 'layouts/error-message',model: f.object
                                    .text-center
                                        = f.submit '更新',class:"button is-light is-large"
                %p.text-center
                    =link_to 'ショップ一覧',admin_shops_path