.columns.is-fullwidth
    .column.is-3-tablet.is-3-desktop.has-background-primary.is-hidden-mobile
        = render 'admin/sidebar'
    .column.is-9.has-background-white-ter
        .container
            .box
                %h1.text-large.has-under-line Shop詳細
                %table.table.has-middle-margin.is-bordered
                    %tbody
                        %tr
                            %td
                                ショップ名
                            %td
                                = @shop.shop_name
                        %tr
                            %td
                                住所
                            %td
                                %p
                                    〒
                                    = postal_code(@shop.postal_code)
                                %p
                                    = @shop.state
                                    = @shop.city
                                    = @shop.street
                        %tr
                            %td
                                電話番号
                            %td
                                = @shop.phone_number
                        %tr
                            %td
                                email
                            %td
                                = @shop.email
            %p.text-center
                =link_to 'ショップ一覧',admin_shops_path