- @menu.item_groups.each do |item_group|
    .columns.is-vcentered.is-mobile.has-over-line
        .column.is-3
            -# 並び替えリンク　最後の{}はfalseでボタンを非表示にするため
            .columns.is-vcentered.is-mobile
                .column
                    = link_to_if(!item_group.first?,'▲', move_higher_shop_item_group_path(item_group), :id => item_group, remote: true, class:'button is-small is-rounded is-block'){}
                    = link_to_if(!item_group.last?,'▼', move_lower_shop_item_group_path(item_group), :id => item_group, remote: true, class:'button is-small is-rounded is-block'){}
                .column
                    = item_group.position
        .column.is-2
            =attachment_image_tag item_group, :group_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg", size: '300x300'
        .column.is-3
            =item_group.category.name
        .column.is-4.text-right
            = link_to shop_item_group_menu_items_path(item_group),class:'button is-info is-small is-rounded strong' do
                %i.fas.fa-search
                %span.is-hidden-mobile 詳細
            = link_to shop_item_group_path(item_group),method: :delete,class:'button is-danger is-small is-rounded strong',data:{confirm:"削除してもよろしいですか？"} do
                %i.fas.fa-trash
                %span.is-hidden-mobile 削除