-content_for(:title) {"#{@menu_name}情報編集"}
.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            -# 階層リンク
            .links-nav.text-ex-small
                = link_to "メニュー管理",shop_menus_path
                >
                = link_to shop_menu_path(@menu) do
                    = @menu_name
                >編集

            -# メニュー編集フォーム
            %h2.text-large.has-under-line-pink.text-center
                %i.fas.fa-edit
                メニュー情報編集
            %p.text-center.text-small メニュー名・カラーを変更できます。
            .box.has-middle-margin
                = form_with model: @menu, url:{:controller=>'shop/menus',:action=>'update'},local: true do |f|
                    = render 'layouts/error-message', model: f.object
                    .columns
                        .column.is-8-desktop.is-offset-2-desktop
                            .field
                                = f.label :menu_name,'メニュー名',class:'label'
                                .control
                                    = f.text_field :menu_name,class:'input'
                            .field
                                %span.label テーマカラー
                                = render 'layouts/select-colors', f: f
                            .field
                                .control.text-center
                                    = f.submit '変更を保存',class:'button'
            .text-center.text-small
                = link_to shop_menu_path(@menu) do
                    戻る