.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            %table.table
                %thead
                    %tr
                        %td
                            %h2.text-large
                                %i.fas.fa-edit
                                メニュー情報編集
                %tbody
                    %tr
                        %td
                            = form_with model: @menu, url:{:controller=>'shop/menus',:action=>'update'},local: true do |f|
                                .columns
                                    .column.is-6
                                        .field
                                            = f.label :menu_name,'メニュー名',class:'label'
                                            .control
                                                = f.text_field :menu_name,class:'input'
                                        .field
                                            = f.label :menu_color,'メニューカラー',class:'label'
                                            .control
                                                = f. text_field :menu_color,class:'input'
                                        .field
                                            .control.text-center
                                                = f.submit '変更を保存',class:'button'