-content_for(:title) {'メニュー一覧'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    -# メニュー一覧
                    .text-center
                        %h2.text-large.has-under-line-pink
                            メニュー管理
                        %p.text-small QRコードの表示・編集・閲覧が行えます。
                    
                    - if @menus.any?
                        .box.has-middle-margin
                            .columns.is-mobile
                                .column.is-3.text-small
                                    カラー
                                .column.is-4.text-small
                                    メニュー名
                            -@menus.each do |menu|
                                .columns.is-mobile.is-vcentered.has-over-line
                                    .column.is-3
                                        .ball{style:"background-color:#{menu.color}"}
                                    .column.is-4
                                        =menu.menu_name
                                    .column.is-5.text-right
                                        = link_to qrcode_shop_menu_path(menu,format: :pdf), target: :_blank, class:'button is-small is-rounded' do
                                            %i.fas.fa-qrcode
                                            QR
                                        = link_to shop_menu_path(menu), class:'button is-info is-small is-rounded strong' do
                                            %i.fas.fa-search
                                            %span.is-hidden-mobile 詳細
                                        = link_to shop_menu_path(menu),method: :delete,class:'button is-danger is-small is-rounded strong',data:{confirm:"削除してもよろしいですか？\n削除するとアイテムグループとアイテムも全て削除されます。"} do
                                            %i.fas.fa-trash
                                            %span.is-hidden-mobile 削除

                    -# メニュー新規作成
                    .box.has-middle-margin
                        .text-center
                            %h3.text-large.has-under-line.is-inline-block
                                メニュー新規作成
                            %p.text-small 新しいメニューを作成します。
                        .has-middle-margin
                            -if current_shop.categories.any?
                                = form_with model: @menu, url: { :controller=>'shop/menus', :action=>'create'},local: true do |f|
                                    = render 'layouts/error-message', model: f.object
                                    .field
                                        = f.label :menu_name,'メニュー名',class:'label'
                                        .control
                                            = f.text_field :menu_name, class:'input is-link',placeholder:'メニューの見出しになります（8文字以内）'
                                    .field
                                        %span.label メニューカラー
                                        %p.text-small メニューのテーマカラーを選択して下さい。
                                        = render 'layouts/select-colors', f: f
                                    .field
                                        .control.text-center
                                            = f.submit 'メニュー作成', class:'button is-link'
                            -else
                                .text-center
                                    %p.strong
                                        先にカテゴリの登録が必要です。
                                    = link_to shop_categories_path, class:'button is-success' do
                                        カテゴリを登録