%p{style:"font-size:1.4em;"}
    = current_shop.shop_name
    さんの
    = @menu.menu_name
    のQRコードです。印刷してお使い下さい。
%div{style:"border-bottom:1px solid #{@menu.color}"}
%p{style:"font-size:1em;"}
    メニューURL:
    = @url
.qrcodes
    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,290

    = image_tag qrcode @url,290

    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,290

    = image_tag qrcode @url,290

    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,290

    = image_tag qrcode @url,290
.qrcodes
    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,290

    = image_tag qrcode @url,290

    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,290

    = image_tag qrcode @url,290

    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,290

    = image_tag qrcode @url,290
    
.qrcodes
    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,420
    = image_tag qrcode @url,420


.qrcodes
    = image_tag qrcode @url,420
    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,420


.qrcodes
    .color{style:"background-color:#{@menu.color};display:inline-block;border-radius:60px;"}
        .qrcode{style:"opacity:.8;"}
            = image_tag qrcode @url,420
    = image_tag qrcode @url,420