%p{style:"font-size:1.4em;"}
    = current_shop.shop_name
    さんの
    = @menu.menu_name
    の2次元コード
%div{style:"border-bottom:1px solid #{@menu.color}"}
%p
.codes
    -# 2*6=12個表示
    - 6.times do
        .color{style:"background-color:#{@menu.color};display:inline-block;"}
            .qrcode{style:"opacity:.8;"}
                = image_tag qrcode @url,290
        = image_tag qrcode @url,290
.codes
    - 6.times do
        = image_tag qrcode @url,420