.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content

            -# 階層リンク
            .links-nav.text-ex-small
                = link_to "メニュー管理",shop_menus_path
                >
                = @menu.menu_name

            -# メニュー一覧
            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    %h2.text-large.has-left-margin
                        %i.fas.fa-search
                        メニュー情報
                    .box.has-middle-margin
                        .columns.is-mobile
                            .column.is-4
                                メニュー名：
                            .column.is-8
                                =@menu.menu_name
                                .is-float-right
                                    = link_to qrcode_shop_menu_path(@menu, format: :pdf),target: :_blank, class:'button is-rounded is-small' do
                                        %i.fas.fa-qrcode
                                        QR
                                    = link_to edit_shop_menu_path(@menu),class:'button is-rounded is-small' do
                                        編集
                        .columns.is-mobile
                            .column.is-4
                                テーマカラー：
                            .column.is-8
                                .ball{style:"background-color:#{@menu.color};"}
                                = @menu.color
                        .columns.is-mobile
                            .column.is-4
                                URL：
                            .column.is-8
                                = link_to user_menu_path(@menu) do
                                    = user_menu_url(@menu)
                            
                    -# アイテムグループリスト
                    %h3.text-large.has-large-margin.has-left-margin
                        %i.fas.fa-object-group
                        アイテムグループ
                    %p.text-small メニュー内のグループです。
                    .box.has-middle-margin
                        -if @menu.item_groups.any?
                            .columns.is-mobile.has-under-line
                                .column.is-3.text-small
                                    表示順
                                .column.is-2
                                .column.is-3.text-small
                                    アイテム名
                                .column.is-4
                        -if @menu.item_groups.any?
                            #grouplist
                                =render 'grouplist',menu: @menu
                        -else
                            .has-text-danger.strong.text-center
                                アイテムグループを作成してください。

                    -# アイテムグループ新規作成
                    %h3.text-large.has-large-margin.has-left-margin
                        %i.far.fa-paper-plane
                        アイテムグループ新規作成
                    .box.has-middle-margin
                        -if current_shop.categories.any?
                            = form_with model: ItemGroup.new, url: shop_menu_item_groups_path(@menu), local: true do |f|
                                .field
                                    = f.label :group_image,'グループイメージ(任意)',class:'label'
                                    .control.box
                                        = f.attachment_field :group_image
                                .field
                                    = f.label :category_id,'カテゴリー名',class:'label'
                                    .control
                                        .select.is-link.is-fullwidth
                                            = f.collection_select :category_id,current_shop.categories,:id,:name, {prompt:'グループ名を選択'}
                                .field
                                    .control.text-center
                                        = f.submit 'グループ作成', class:'button is-link'
                        -else
                            .text-center
                                %p 作成には先にカテゴリの登録が必要です。
                                = link_to shop_categories_path, class:'button is-success' do
                                    %i.fas.fa-plus-circle
                                    カテゴリを登録