.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            %table.table
                %thead
                    %tr
                        %td
                            .columns.is-mobile
                                .column
                                    %h2.text-large
                                        %i.fas.fa-search
                                        メニュー情報
                                .column.text-right
                                    = link_to qrcode_shop_menu_path(@menu),target: :_blank, class:'button is-rounded' do
                                        %i.fas.fa-qrcode
                                        QR
                                    = link_to edit_shop_menu_path(@menu),class:'button is-rounded' do
                                        編集
                %tbody
                    %tr
                        %td
                            .columns.is-mobile
                                .column.is-4
                                    メニュー名：
                                .column.is-8
                                    =@menu.menu_name
                            .columns.is-mobile
                                .column.is-4
                                    テーマカラー：
                                .column.is-8
                                    .ball{style:"background-color:#{@menu.color};"}
                                    = @menu.color
                            .columns.is-mobile
                                .column.is-4
                                    URL：
                                .column.is-8
                                    = link_to user_menu_path(@menu) do
                                        = user_menu_url(@menu)
                    
            -# 中間テーブルリスト
            %table.table.is-hoverable
                %thead
                    %tr
                        %td
                            %h3.text-large
                                %i.fas.fa-object-group
                                アイテムグループ
                            %p.text-small メニュー内のグループです。
                    -if @menu.item_groups.any?
                        %tr
                            %td
                                .columns.is-mobile
                                    .column.is-3.text-small
                                        表示順
                                    .column.is-2
                                    .column.is-3.text-small
                                        アイテム名
                                    .column.is-4
                %tbody
                    -if @menu.item_groups.any?
                        - @menu.item_groups.each do |item_group|
                            %tr
                                %td
                                    .columns.is-vcentered.is-mobile
                                        .column.is-3
                                            =item_group.position
                                        .column.is-2
                                            =attachment_image_tag item_group, :group_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg", size: '300x300'
                                        .column.is-3
                                            =item_group.category.name
                                        .column.is-4.text-right
                                            = link_to shop_item_group_menu_items_path(item_group),class:'button is-info is-small is-rounded strong' do
                                                %i.fas.fa-search
                                                詳細
                                            = link_to shop_item_group_path(item_group),method: :delete,class:'button is-danger is-small is-rounded strong' do
                                                %i.fas.fa-trash
                                                削除
                    -else
                        %td.has-text-danger.strong
                            アイテムグループがありません。
            %table.table
                %thead
                    %tr
                        %td
                            %h3.text-large
                                アイテムグループ新規作成
                %tbody
                    %tr
                        %td
                            -if current_shop.categories.any?
                                .columns
                                    .column.is-8-desktop.is-offset-2-desktop.is-12-tablet
                                        = form_with model: ItemGroup.new, url: shop_menu_item_groups_path(@menu), local: true do |f|
                                            .field
                                                = f.label :group_image,'グループイメージ(任意)',class:'label'
                                                .control.box
                                                    = f.attachment_field :group_image
                                            .field
                                                = f.label :category_id,'カテゴリー名',class:'label'
                                                .control
                                                    .select.is-link.is-fullwidth
                                                        = f.collection_select :category_id,current_shop.categories,:id,:name, {prompt:'グループ名を選択'}
                                            .field
                                                .control.text-center
                                                    = f.submit 'グループ作成', class:'button is-link'
                            -else
                                %p 作成には先にカテゴリの登録が必要です。
                                = link_to shop_categories_path, class:'button is-success' do
                                    %i.fas.fa-plus-circle
                                    カテゴリを登録