- content_for(:title) {"#{@menu.menu_name}"}
.container
    .columns
        .column.is-3.is-hidden-mobile
            = render 'shop/sidebar'
        .column.is-8.main-content

            -# 階層リンク
            .links-nav.text-ex-small
                = link_to "メニュー管理",shop_menus_path
                >
                = @menu.menu_name

            -# メニュー一覧
            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    %h2.text-large.has-under-line-pink.text-center
                        メニュー情報
                    %p.text-small.text-center メニューの詳細です。プレビュー・編集・グループの追加が行えます。
                    .box.has-middle-margin
                        .columns.is-mobile
                            .column.is-4
                                メニュー名：
                            .column.is-8
                                =@menu.menu_name
                                .is-float-right
                                    = link_to qrcode_shop_menu_path(@menu, format: :pdf),target: :_blank, class:'button is-rounded is-small' do
                                        %i.fas.fa-qrcode
                                        QR
                                    = link_to edit_shop_menu_path(@menu),class:'button is-rounded is-small' do
                                        編集
                        .columns.is-mobile
                            .column.is-4
                                テーマカラー：
                            .column.is-8
                                .ball{style:"background-color:#{@menu.color};"}
                                = @menu.color
                        .columns.is-mobile
                            .column.is-4
                                プレビュー：
                            .column.is-8
                                = link_to user_menu_path(@menu),target: :_blank,class:"button is-rounded is-small" do
                                    %i.fas.fa-book-open
                                    メニューを開く
                            
                    -# アイテムグループリスト
                    -if @menu.item_groups.any?
                        .box.has-middle-margin
                            .text-center
                                %h3.text-large.has-under-line.is-inline-block
                                    アイテムグループ
                                %p.text-small メニュー内のグループです。
                            
                            .has-large-margin
                                .columns.is-mobile
                                    .column.is-3.text-small
                                        表示順
                                    .column.is-2
                                    .column.is-3.text-small
                                        グループ名
                                    .column.is-4
                                #grouplist
                                    =render 'grouplist',menu: @menu

                    -# アイテムグループ新規作成
                    .box.has-middle-margin
                        .text-center
                            %h3.text-large.has-under-line.is-inline-block
                                アイテムグループ新規作成
                            %p.text-small 新しいアイテムグループを作成します。
                        .has-large-margin
                            -if current_shop.categories.any?
                                = form_with model: ItemGroup.new, url: shop_menu_item_groups_path(@menu), local: true do |f|
                                    .field
                                        %span.label グループ画像
                                        .preview
                                        .control
                                            .field.has-addons
                                                %label.button.is-primary.is-small
                                                    %span
                                                        画像ファイルを選択
                                                        = f.attachment_field :group_image,style:"display:none"
                                                %input{type:"text",class:"input is-small is-primary",readonly:""}
                                    .field
                                        = f.label :category_id,'カテゴリー名',class:'label'
                                        .control
                                            .select.is-link.is-fullwidth
                                                = f.collection_select :category_id,current_shop.categories,:id,:name, {prompt:'グループ名を選択'}
                                    .field
                                        .control.text-center
                                            = f.submit 'グループ作成', class:'button is-link'
                            -else
                                .text-center
                                    %p 作成には先にカテゴリの登録が必要です。
                                    = link_to shop_categories_path, class:'button is-success' do
                                        %i.fas.fa-plus-circle
                                        カテゴリを登録
                            
            .text-center.text-small
                = link_to "戻る",shop_menus_path