.sidebar
    %ul
        = link_to shop_mypage_top_path do
            %li{:class => params[:controller] == 'shop/mypages' && "is-selected-tab"}
                マイページTOP
        = link_to shop_menus_path do
            %li{:class => params[:controller] == 'shop/menus' && "is-selected-tab"}
                メニュー管理
        = link_to shop_categories_path do
            %li{:class => params[:controller] == 'shop/categories' && "is-selected-tab"}
                カテゴリ管理
        = link_to shop_emotions_path do
            %li{:class => params[:controller] == 'shop/emotions' && "is-selected-tab"}
                エモーション
        = link_to shop_requests_path do
            %li{:class => params[:controller] == 'shop/requests' && "is-selected-tab"}
                リクエスト
        = link_to shop_menus_path do
            %li{:class => params[:controller] == 'shop/mypages' && "is-selected-tab"}
                登録情報