.sidebar
    %ul
        = link_to top_shop_mypages_path do
            %li{ class:('is-selected-tab' if params[:controller] == 'shop/mypages' && !params[:id].present?) }
                %h1.is-inline
                    マイページ
                TOP
        = link_to shop_menus_path do
            -# コントローラーがmenus・menu_items・items_groupsの時、クラス付与
            %li{ class:('is-selected-tab' if params[:controller] == 'shop/menus' || params[:controller] == 'shop/menu_items' || params[:controller] == 'shop/item_groups') }
                メニュー管理
        = link_to shop_categories_path do
            %li{ class:('is-selected-tab' if params[:controller] == 'shop/categories') }
                カテゴリ
        = link_to shop_emotions_path do
            %li{ class:('is-selected-tab' if params[:controller] == 'shop/emotions') }
                エモーション
        = link_to shop_requests_path do
            %li{ class:('is-selected-tab' if params[:controller] == 'shop/requests') }
                リクエスト
        = link_to shop_mypage_path(current_shop) do
            %li{ class:('is-selected-tab' if params[:controller] == 'shop/mypages' && params[:id].present?) }
                登録情報