= render 'main-visual'
.columns.is-fullwidht.is-mobile.is-vcentered.top-section.section-grey
    .column
        .welcome-padding.text-center
            %h1.text-ex-large.is-inline-block.has-under-line-blue
                SmartMenuへようこそ！
            .text-moderate-large.has-large-margin
                %p SmartMenuはお店のメニューを作成できるWEBアプリです。
                %p 作成したメニューはQRコードから開くことができます。

#s1.columns.is-fullwidth.has-background-white.top-section.is-vcentered.is-multiline
    .column
        .section-image-padding
            .menu-image
                = image_tag 'section1.jpg'
    .column.is-6-desktop.is-12-tablet
        .section-padding.text-center
            %h2.text-ex-large.is-inline-block.has-under-line-pink
                お店のメニューを簡単に作成
            .text-moderate-large.has-ex-large-margin
                %p SmartMenuを使えば、サイト上で商品画像や価格を入力するだけで自動でメニューを作成することができます。
                %p デザインやレイアウトが苦手な方でも安心してご利用いただけます。
                %p メニューに個性を出したいという方のために、お好きなテーマカラーを設定できる機能もご用意しました。


#s2.columns.is-fullwidth.top-section.is-vcentered.is-multiline.section-grey


    .column.is-hidden-desktop
        .section-image-padding
            .menu-image
                = image_tag 'section2.jpg'

    .column.is-6-desktop.is-12-tablet
        .text-center.section-padding
            %h2.text-ex-large.is-inline-block.has-under-line-blue
                テーブルやカウンターに設置するだけ
            .text-moderate-large.has-ex-large-margin
                %p メニューが完成したら、QRコードを用意しましょう。
                %p QRコードはサイト上で簡単に作成できます。
                %p 作成後はお客様が座る、カウンターやテーブルに設置するだけです。
                %p SmartMenuは忙しいあなたの手を煩わせません。

        
    .column.is-hidden-touch
        .section-image-padding
            .menu-image
                = image_tag 'section2.jpg'


#s3.columns.is-fullwidth.has-background-white.top-section.is-vcentered.is-multiline
    .column
        .section-image-padding
            .menu-image
                = image_tag 'section3.jpg'
    .column.is-6-desktop.is-12-tablet
        .text-center.section-padding
            %h2.text-ex-large.is-inline-block.has-under-line-pink
                SmartMenuでスマートなお店に
            .text-moderate-large.has-ex-large-margin
                %p SmartMenuはお店側と利用するお客様の双方にメリットをもたらします。
                %p エモーション機能によって、利用するお客様は直感的にあなたのお店にフィードバックを送ることができます。
                %p リクエスト機能を使用すれば、メールやハガキ等の面倒な処理は不要です。
                %p メニュー上から簡単にリクエストを送信でき、閲覧・削除も簡単に行えます。

.text-center
    #back-to-top.button.is-dark
        ▲ページトップ