.container
    .columns
        .column.is-12-desktop.is-offset-0-desktop.is-10-tablet.is-offset-1-tablet.text-center
            .links.text-left.text-small
                = link_to "メニュートップ", user_menu_path(@menu)
                >
                =@item_group.category.name
            .user-main-content
                %h1.text-ex-large{style:"border-bottom:2px solid #{@menu.color};"}
                    = @item_group.category.name
                %p.has-small-margin
                    = @item_group.category.name
                    の一覧です。
                .columns.is-multiline.is-fullwidth.has-small-margin
                    - if @item_group.menu_items.any?
                        - @item_group.menu_items.each do |menu_item|
                            .column.is-12-tablet.is-6-desktop
                                .menu-ground{style:"background-color:#{@menu.color}"}
                                    .menu-item-box
                                        .columns.is-mobile.is-vcentered
                                            - if menu_item.item_image.present?
                                                .column.is-6
                                                    .menu-image
                                                        =attachment_image_tag menu_item, :item_image, :fill, 300, 200, format: 'jpeg', size: '300x200'
                                            .column
                                                %p.menu-headline.strong
                                                    = menu_item.item_name
                                                %p
                                                    %span.has-text-danger
                                                        ¥
                                                        = menu_item.price
                                                    %span 
                                                        (税込¥
                                                        = tax_calc(menu_item.price)
                                                        )
                                                - if menu_item.item_text.present?
                                                    %p.text-small.menu-item-text
                                                        = menu_item.item_text
                    -else
                        .column
                            .menu-item-box
                                ただいま準備中です。
            .user-main-content.is-inline-block.has-large-margin
                このお店はどうですか？
                #emotions
                    = render 'user/emotions',emotions: @emotions