.columns.is-fullwidth
    .column.is-3-tablet.is-3-desktop.has-background-primary.is-hidden-mobile
        = render 'admin/sidebar'
    .column.is-9.has-background-white-ter
        .container
            .box
                %h1.text-large.has-under-line.has-text-danger 削除済み-Shop一覧
                %table.table.has-middle-margin.is-bordered.has-background-white-ter
                    %thead
                        %tr
                            %td
                                ID
                            %td
                                ショップ名
                            %td
                                削除日
                            %td
                    %tbody
                        - @deleted_shops.each do |deleted_shop|
                            %tr
                                %td
                                    = deleted_shop.id
                                %td
                                    = deleted_shop.shop_name
                                %td
                                    = simple_date(deleted_shop.created_at)
                                %td
                                    .text-center
                                        = link_to "詳細",admin_deleted_shop_path(deleted_shop),class:"button is-small is-white"