%header#user-header{style:"background-color:#{menu.color}"}
    .columns
        .column.text-center
            %span.button.is-small.is-rounded.header-btn#menu-btn3
                %i.fa.fa-bars

#menu-overlay
    .columns.is-gapless#user-menu-modal
        .column.is-3
        .column.is-6.user-menu-list.text-center{style:"background-color:#{menu.color}"}
            %ul
                = link_to root_path do
                    %li
                        .grey-shadow
                            %i.fas.fa-home
                            = @menu.menu_name
                = link_to destroy_shop_session_path, method: :delete do
                    %li
                        .grey-shadow
                            %i.fas.fa-sign-out-alt
                            ご意見・ご要望