- menu_items.each do |menu_item|
    .columns.is-vcentered.is-mobile.has-under-line
        .column.is-3
            -# 並び替えリンク　最後の{}はfalseで非表示にするため
            .columns.is-vcentered.is-mobile
                .column
                    = link_to_if(!menu_item.first?,'▲', move_higher_shop_menu_item_path(menu_item), :id => menu_item, remote: true, class:'button is-small is-rounded is-block'){}
                    = link_to_if(!menu_item.last?,'▼', move_lower_shop_menu_item_path(menu_item), :id => menu_item, remote: true, class:'button is-small is-rounded is-block'){}
                .column
                    = menu_item.position
        .column.is-2
            = attachment_image_tag menu_item,:item_image,:fill,200,200,format: 'jpeg',fallback: "no_image.jpg",size:'200x200'
        .column.is-3
            = menu_item.item_name
        .column.is-2
            %p
                ¥
                = menu_item.price
            %p
                (¥
                = current_tax.calc(menu_item.price)
                )
        .column.is-2.text-right
            = link_to edit_shop_menu_item_path(menu_item),class:'button is-small is-rounded is-info strong' do
                %i.fas.fa-edit
                編集
            = link_to edit_shop_menu_item_path(menu_item),method: :delete,class:'button is-small is-rounded is-danger strong' do
                %i.fas.fa-trash
                    削除