.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            %table.table.is-hoverable
                %thead
                    %tr
                        %td
                            %h2.text-large
                                = attachment_image_tag @item_group,:group_image,:fill,30,30,format: 'jpeg',size:'30x30',style:'width:30px;height:30px;' if @item_group.group_image
                                = @item_group.category.name
                            %p.text-smal
                                グループ内のアイテム一覧です。
                    -if @menu_items.any?
                        %tr
                            %td
                                .columns.is-mobile
                                    .column.is-2
                                        表示順
                                    .column.is-3
                                    .column.is-3
                                        アイテム名
                                    .column.is-2
                                        税抜価格
                                    .column.is-2
                -if @menu_items.any?
                    %tbody#itemlist
                        = render 'itemlist',menu_items: @menu_items
                -else
                    %tr
                        %td.strong.has-text-danger
                            アイテムがありません。
                %table.table
                    %thead
                        %tr
                            %td
                                %h3.text-large
                                    %i.far.fa-paper-plane
                                    アイテム追加
                    %tbody
                        %tr
                            %td
                                .columns
                                    .column.is-10-desktop.is-offset-1-desktop
                                        =form_with model: MenuItem.new ,url: shop_item_group_menu_items_path(@item_group),local: true do |f|
                                            .field
                                                = f.label :item_image,'アイテム画像（任意）',class:'label'
                                                .control.box
                                                    = f.attachment_field :item_image
                                            .field
                                                = f.label :item_name, 'アイテム名（必須）',class:'label'
                                                .control
                                                    = f.text_field :item_name,class:'input',placeholder:'例：生ビール'
                                            .field
                                                = f.label :price, '税抜価格（必須）',class:'label'
                                                .control
                                                    = f.text_field :price,class:'input'
                                            .field
                                                = f.label :item_text, 'アイテムテキスト（任意）',class:'label'
                                                .control
                                                    = f.text_area :item_text,class:'textarea',placeholder:'アイテムの説明を入力して下さい。メニューに表示されます。'
                                            .field.text-center
                                                = f.submit 'アイテムを追加',class:'button'