-content_for(:title) {"#{@item_group.category.name}"}
.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            
            -# 階層リンク
            .links-nav.text-ex-small
                = link_to "メニュー管理",shop_menus_path
                >
                = link_to shop_menu_path(@item_group.menu) do
                    = @item_group.menu.menu_name
                >
                = @item_group.category.name

            -# アイテム一覧        
            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    .has-under-line-pink.text-center
                        %h2.text-large
                            = @item_group.category.name
                    %p.text-small.text-center
                        グループ内のアイテム一覧です。
                        =link_to "[グループ画像変更]",edit_shop_item_group_path(@item_group)

                    
                    -if @menu_items.any?
                        .box.has-middle-margin
                            .columns.is-mobile.has-under-line
                                .column.is-2
                                    表示順
                                .column.is-3
                                .column.is-3
                                    アイテム名
                                .column.is-2
                                    価格(税込)
                                .column.is-2
                            #itemlist
                                = render 'itemlist',menu_items: @menu_items
        
                    -# アイテム追加フォーム
                    .box.has-middle-margin

                        .text-center
                            %h3.text-large.has-under-line.is-inline-block
                                アイテム追加
                            %p.text-small 新しくアイテムを追加します。
                        .has-middle-margin
                            =form_with model: @menu_item ,url: shop_item_group_menu_items_path(@item_group),local: true do |f|
                                = render 'layouts/error-message', model: f.object
                                .field
                                    %span.label アイテム画像
                                    .preview
                                    .control
                                        .field.has-addons
                                            %label.button.is-primary.is-small
                                                %span
                                                    画像ファイルを選択
                                                    = f.attachment_field :item_image,style:"display:none"
                                            %input{type:"text",class:"input is-small is-primary",readonly:""}
                                .field
                                    = f.label :item_name,class:'label' do
                                        アイテム名
                                        %span.has-text-danger [必須]
                                    .control
                                        = f.text_field :item_name,class:'input',placeholder:'例：生ビール'
                                .field
                                    = f.label :price,class:'label' do
                                        税抜価格
                                        %span.has-text-danger [必須]
                                    .control
                                        = f.text_field :price,class:'input'
                                .field
                                    = f.label :item_text, 'アイテムテキスト',class:'label'
                                    .control
                                        = f.text_field :item_text,class:'input',placeholder:'アイテムの説明を入力・20文字まで'
                                .field.text-center
                                    = f.submit 'アイテムを追加',class:'button'
            .text-center.text-small
                = link_to shop_menu_path(@item_group.menu) do
                    = @item_group.menu.menu_name
                    に戻る