.container
  .columns
    .column.is-6.is-offset-3.is-10-mobile.is-offset-1-mobile
      %h1 新規登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          %label お店の名前
          .control
            = f.text_field :shop_name,autofocus: true,class:'input', placeholder:'最大10文字まで'
        .field
          %label 郵便番号
          %br
          .control
            = f.text_field :postal_code,class:'input is-small', placeholder:'半角数字7桁（ハイフンは不要です）'
        .field
          %label 都道府県
          %br
          .control
            = f.select :state,Shop.states.keys.to_a,{prompt:'選択してください'},class:'input is-small'
        .field
          %label 市区町村
          %br
          .control
            = f.text_field :city,class:'input is-small'
        .field
          %label 町名・番地・建物
          %br
          .control
            = f.text_field :street,class:'input is-small'
        .field
          %label 電話番号
          %br
          .control
            = f.text_field :phone_number,class:'input is-small'
        .field
          %label Eメール
          %br
          .control
            = f.email_field :email, autofocus: true, autocomplete: "email",class:'input is-small',placeholder:'email@example.com'
        .field
          %label パスワード
          %br
          .control
            = f.password_field :password, autocomplete: "new-password",class:'input is-small', placeholder:'半角英数字6文字以上'
        .field
          %label パスワード確認
          %br
          .control
            = f.password_field :password_confirmation, autocomplete: "new-password",class:'input is-small',placeholder:'確認のためもう一度入力して下さい'
        .actions.text-center
          = f.submit "登録",class:'button is-rounded'