- content_for(:title) {'リクエスト'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            = render 'shop/sidebar'
        .column.is-8.main-content

            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    %h2.text-large.has-under-line-pink.text-center
                        リクエスト
                    %p.text-small.text-center
                        あなたのお店に寄せられたリクエストです。
                    - if @requests.any?
                        - @requests.each do |request|
                            .request-box.has-middle-margin.has-background-white-bis
                                .columns.is-mobile.is-vcentered
                                    .column
                                        .request-image
                                            = image_tag 'user.png'
                                    .column.is-9
                                        %p.strong
                                            = request.title
                                        = simple_format(request.message)
                                %p.text-small.text-right
                                    Posted at
                                    = simple_date(request.created_at)
                                    = link_to shop_request_path(request), class:"button is-rounded is-small is-success",method: :delete,data:{confirm:"削除してもよろしいですか？"} do
                                        %i.fas.fa-check
                    - else
                        .has-middle-margin.box
                            リクエストは届いていません。
                    - if @requests.total_pages >= 2
                        .paginate.has-small-margin
                            = paginate @requests