-content_for(:title) {'リクエスト一覧'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content

            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    %h2.text-large.has-under-line-pink.text-center
                        リクエスト
                    %p.text-small.text-center
                        あなたのお店に寄せられたリクエストです。
                    - if @requests.any?
                        - @requests.each do |request|
                            .box.has-middle-margin.has-background-white-ter
                                .columns.is-mobile.is-vcentered
                                    .column.is-9
                                        .columns.is-mobile
                                            .column.is-3.strong
                                                件名
                                            .column
                                                = request.title
                                        .columns.is-mobile
                                            .column.is-3.strong
                                                内容
                                            .column
                                                = simple_format(request.message)
                                    .column
                                        %p.is-float-right
                                            = link_to shop_request_path(request),method: :delete,class:'button is-rounded is-success',data:{:confirm=>'リクエストを削除してもよろしいですか？'} do
                                                %i.fas.fa-check
                                %p.text-small.text-right
                                    Posted at
                                    = simple_date(request.created_at)
                    -else
                        .has-middle-margin.box
                            リクエストは届いていません。
                    -if @requests.total_pages >= 2
                        .paginate.has-small-margin
                            = paginate @requests