-content_for(:title) {'カテゴリ編集'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            .links-nav.text-ex-small
                = link_to "カテゴリ",shop_categories_path
                >編集

            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    %h2.text-large.text-center.has-under-line-pink
                        カテゴリ編集
                    .box.has-middle-margin
                        = form_with model: @category, url:{:controller=>'shop/categories',:action=>'update'},local: true do |f|
                            = render 'layouts/error-message', model: f.object
                            .field
                                = f.label :menu_name,'カテゴリー名',class:'label'
                                .control
                                    = f.text_field :name,class:'input',placeholder:"2〜10文字"
                            .field
                                .control.text-center
                                    = f.submit '変更を保存',class:'button'