.container
    .columns
        .column.is-3.is-hidden-mobile
            =render 'shop/sidebar'
        .column.is-8.main-content
            %table.table.is-hoverable
                %thead
                    %tr
                        %td{colspan:'3'}
                            %h2.text-large
                                %i.far.fa-sticky-note
                                カテゴリ一覧
                            %p.text-small カテゴリはメニュー作成時に使用します。
                %tbody
                    -if @categories.any?
                        - @categories.each do |category|
                            %tr
                                %td.strong
                                    = category.name
                                %td
                                    .text-right
                                        = link_to edit_shop_category_path(category),class:'button is-info is-small is-rounded strong' do
                                            %i.fas.fa-edit
                                            編集
                                        = link_to shop_category_path(category),method: :delete,class:'button is-danger is-small is-rounded strong' do
                                            %i.fas.fa-trash
                                            削除
                    -else
                        %tr
                            %td{colspan:'3'}
                                カテゴリーがありません。
            %table.table
                %thead
                    %tr
                        %td{colspan:'2'}
                            %h2.text-large
                                %i.far.fa-paper-plane
                                カテゴリー新規登録
                %tbody
                    %tr
                        %td
                            = form_with model: current_shop.categories.build,url:{:controller=>'shop/categories',:action=>'create'},local: true do |f|
                                .field.has-addons
                                    .control
                                        = f.text_field :name,class:'input is-primary',placeholder:'例：ソフトドリンク'
                                    .control
                                        = f.submit '登録',class:'button is-primary'