- content_for(:title) {'カテゴリ'}
.container
    .columns
        .column.is-3.is-hidden-mobile
            = render 'shop/sidebar'
        .column.is-8.main-content

            .columns
                .column.is-10-desktop.is-offset-1-desktop.is-12-tablet.is-offset-0-tablet
                    %h2.text-large.has-under-line-pink.text-center
                        カテゴリ
                    .text-small.text-center
                        %p カテゴリの一覧です。
                        %p （例：ソフトドリンク、アルコール、デザートなど）
                    - if @categories.any?
                        .box.has-middle-margin
                            %table.table
                                %thead
                                    %tr
                                        %td.text-small{colspan:"2"}
                                            カテゴリ名
                                %tbody
                                    - @categories.each do |category|
                                        %tr
                                            %td
                                                = category.name
                                            %td
                                                .text-right
                                                    = link_to edit_shop_category_path(category),class:'button is-info is-small is-rounded strong' do
                                                        %i.fas.fa-edit
                                                        %span.is-hidden-mobile 編集
                                                    = link_to shop_category_path(category),method: :delete,class:'button is-danger is-small is-rounded strong' do
                                                        %i.fas.fa-trash
                                                        %span.is-hidden-mobile 削除
                    .box.has-middle-margin.text-center
                        .text-center
                            %h3.text-large.text-center.has-under-line.is-inline-block
                                カテゴリ新規登録
                            %p.text-small 新しいカテゴリを作成します。
                        .has-large-margin
                            = form_with model: @category,url:{:controller=>'shop/categories',:action=>'create'},local: true do |f|
                                = render 'layouts/error-message',model: f.object
                                .field.is-inline-block.text-left
                                    %span.label カテゴリ名
                                    .field.has-addons
                                        .control
                                            = f.text_field :name,class:'input is-link',placeholder:'例: ドリンク(10文字以内)'
                                        .control
                                            = f.submit '登録',class:'button is-link'