#menu-overlay
    .columns#menu-modal
        .column.is-4.is-offset-4.menu-list
            %ul
                -if shop_signed_in?
                    = link_to top_shop_mypages_path do
                        %li
                            %i.fas.fa-user
                            マイページ
                    = link_to howto_shop_mypages_path do
                        %li
                            %i.fas.fa-user
                            ご利用方法
                -else
                    = link_to new_shop_registration_path do
                        %li
                            %i.fas.fa-user-alt
                            新規登録
                    = link_to new_shop_session_path do
                        %li
                            %i.fas.fa-sign-in-alt
                            ログイン
                = link_to root_path do
                    %li
                        %i.fas.fa-home
                        トップページ
                - if shop_signed_in?
                    = link_to destroy_shop_session_path, method: :delete do
                        %li
                            %i.fas.fa-sign-out-alt
                            ログアウト
    - if shop_signed_in?
        .columns#mypage-menu-modal
            .column.is-4.is-offset-8.menu-list
                %ul
                    = link_to top_shop_mypages_path do
                        %li
                            %i.fas.fa-user
                            マイページTOP
                    = link_to shop_menus_path do
                        %li
                            %i.fas.fa-clipboard-list
                            メニュー管理
                    = link_to shop_categories_path do
                        %li
                            %i.fas.fa-sticky-note
                            カテゴリ
                    = link_to shop_emotions_path do
                        %li
                            %i.fas.fa-grin
                            エモーション
                    = link_to shop_requests_path do
                        %li
                            %i.fas.fa-comment-dots
                            リクエスト
                    = link_to shop_mypages_path do
                        %li
                            %i.fas.fa-clipboard-list
                            登録情報