.control.box.select-colors
    %label.button{style:"background-color:white"}
        = f.radio_button :color, 'white',{:checked=> true}
        .ball
    %label.button{style:"background-color:black"}
        = f.radio_button :color, 'black'
        .ball
    %label.button{style:"background-color:chocolate"}
        = f.radio_button :color, 'chocolate'
        .ball
    %label.button{style:"background-color:tomato"}
        = f.radio_button :color, 'tomato'
        .ball
    %label.button{style:"background-color:red"}
        = f.radio_button :color, 'red'
        .ball
    %label.button{style:"background-color:darkviolet"}
        = f.radio_button :color, 'darkviolet'
        .ball
    %label.button{style:"background-color:mediumblue"}
        = f.radio_button :color, 'mediumblue'
        .ball
    %label.button{style:"background-color:teal"}
        = f.radio_button :color, 'teal'
        .ball
    %label.button{style:"background-color:springgreen"}
        = f.radio_button :color, 'springgreen'
        .ball
    %label.button{style:"background-color:gold"}
        = f.radio_button :color, 'gold'
        .ball
    %label.button{style:"background-color:ivory"}
        = f.radio_button :color, 'ivory'
        .ball
    %label.button{style:"background-color:pink"}
        = f.radio_button :color, 'pink'
        .ball
    %label.button{style:"background-color:violet"}
        = f.radio_button :color, 'violet'
        .ball
    %label.button{style:"background-color:paleturquoise"}
        = f.radio_button :color, 'paleturquoise'
        .ball
    %label.button{style:"background-color:lavender"}
        = f.radio_button :color, 'lavender'
        .ball
    %label.button{style:"background-color:honeydew"}
        = f.radio_button :color, 'honeydew'
        .ball
    %label.button{style:"background-color:linen"}
        = f.radio_button :color, 'linen'
        .ball
    %label.button{style:"background-color:lightyellow"}
        = f.radio_button :color, 'lightyellow'
        .ball